@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="staff_items">
        @foreach (Person p in ViewBag.Staff)
        {
            <form method="post" asp-controller="Home" asp-action="Index" class="item-row">
                <div id="@p.Id" onclick="changeBack(id)" class="@ViewBag.Staff[p.Id-1].CssClass">
                    <input type="submit" name="currentItem" value="@p.Id">
                    <label class="personName"> @p.Name</label>
                    <label class="personName"> @p.SecondName</label>
                    <label class="personName"> @p.FatherName</label>
                    <label class="pos"> @p.Position</label>
                </div>
            </form>
        }
    </div>
    @await Html.PartialAsync("ItemDetails", (ViewBag.Staff as List<Person>).
         Where(p => p.Id == ViewBag.CurrentItem).FirstOrDefault())
</div>
